.App{
  text-align: center;
}

.Card {
  width: 400px;
  height:auto;
  min-height: 300px;
  margin-left: 20px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid black;
  text-align:center;
  display: inline-block;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.Inputs {
  width: 19%;
  margin: 0px 10px 10px 0px
}
.CardHeader {
  padding: 10px
}
.TaskContainer {
  padding: 5px
}
.Task {
  margin: 10px 10px 10px 10px
}
.Button {
  display: inline-block
}
